/* #d2{
    background-color: brown;
    width:200px;
}
#p1{
    background-color: blueviolet;
    width:200px;
}
#p2{
    background-color: chocolate;
    width:200px;
}
#p3{
    background-color: crimson;
    width:200px;
} */

.c1 p{
color:red;
}
.c2 p{
    color:blue;
}


/* angular materials */
/* cards */
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  /* grid  */
  mat-grid-tile{
    background-color: blue;
  }